<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/style.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    title Devrecipe
body
    nav.animated.fadeInDown
        .container
            a(href="/")
                img(src="/images/logo-white.png", alt="").logo
    header
        .background
            .overlay
            video(src="/images/background.mp4", playsinline, autoplay, muted, loop)
        .container.jumbotron.header-text.animated.fadeInLeft.text-left
                h1 An elephant ate this page!
                h2 It cannot be found, or probably removed...
    include intercom.html